
  .cart-view h2 {
    margin-bottom: 20px;
  }

  .cart-view img {
    width: 150px;
    height: auto;
  }
  
  .cart-view  {
    align-items: center;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
  }
  
  .btn-cart {
    display: flex;
    justify-content: space-between;
    align-content: end;
    margin: 20px;
  }
  .add-produc {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .add-produc button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-produc input {
    width: 5px;
    text-align: center;
  }

  .trash button {
    background: none;
    color: black;
  }
  .trash img {
    width: 20px;
    height: 20px;
  }
  .trash button:hover {
    background: red;
  }
  
  .btn-buy {
    margin-bottom: 50px;
  }

  .btn-buy a{
    padding: 10px 60px;
    color: #FFFF;
    text-decoration: none;
  }
  .btn-buy a:hover {
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }