.container-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    gap: 20px; /* Espacio entre la información y la imagen */
}

.info-product {
    padding: 1rem;
    text-align: start;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2em;
    line-height: 1.5em;
}

.btn-back {
    display: flex;
}

.btn-back button {
    padding: 10px 40px;
}

.info-product p {
    margin: 5px 0;
}

.container-detail img {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
}

.go-cart {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
}
.go-cart a{
    background: #ff9800;
    border-radius: 4px;
    padding: 10px 40px;
    text-decoration: none;
    color: #ffff;
}
.go-cart a:hover{
    color: #333;
    transition: color 0.3s ease;
}



